/*
 * 
 * Videos CSS
 * 
 */

#ytid {
	display:block;
	margin:0px auto;
	width: 100%;
}

.video_content {
	display:block;
	float:left;
	width:540px;
	height:333px;
	margin: 5px 8px;
}

.video_content iframe {
	display:block;
	float:left;
	width:540px;
	height:333px;
}

video {
	display: block;
	width:540px;
	height: 333px;
}
