/*
   config.css
   FreeFallExhibition
   
   Created by Logan Best on 2011-08-27.
   Copyright 2011 Logan Best. All rights reserved.
   
   Description: StyleSheet for config window. 
*/

#ytid {
	display:block;
	margin:0px auto;
	width: 100%;
}

.video_content {
	display:block;
	float:left;
	width:540px;
	height:333px;
	margin: 5px 8px;
}

.video_content iframe {
	display:block;
	float:left;
	width:540px;
	height:333px;
}

video {
	display: block;
	width:540px;
	height: 333px;
}
